<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Paciente</title>
  <link rel="stylesheet" href="/stylesheets/paciente.css">
</head>
<body>
  <%- include('../partials/navbar') %>

  <div class="container">
    <h1>Nuevo Paciente</h1>
    <form action="/pacientes/nuevo" method="POST" class="form-paciente">
      <label>Nombre:</label>
      <input type="text" name="nombre" required>

      <label>DNI:</label>
      <input type="text" name="dni" required>

      <label>Apellido:</label>
      <input type="text" name="apellido">

      <label>Email:</label>
      <input type="email" name="email">

      <label>Contraseña:</label>
      <input type="password" name="password">

      <button type="submit">Guardar Paciente</button>
    </form>
  </div>
</body>
</html>